@import url('modern-normalize/modern-normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@property --glare-color {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100dvh;
  padding: 4px;

  font-family: Inter, sans-serif;

  background-image: url('./background.webp');
  background-size: cover;
}
